<html>
  <body>
    <!-- ... -->

    <div class="container card text-center text-white bg-dark mb-3 mx-auto mt-5" style="width: 400px;">
    <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'Title' %>
      <br /> <br />
      <%= text_field_tag 'title', @gossip.title %>
      <br /> <br />

      <%= label_tag 'Content' %>
      <br /> <br />
      <%= text_area_tag 'content', @gossip.content %>
      <br /> <br />

      <%= submit_tag "Créer un Gossip ! " %>

    <% end %>
</div>
    <!-- ... -->
  </body>
</html>
