<div class="card mb-3 mx-auto mt-5 text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> <%= @user.first_name%> <%= @user.last_name%> </h5>
    <p class="card-text"> <%= @user.age%> </p>
    <p class="card-text"> <%= @user.email%> </p>
    <p class="card-text"> <%= @user.description%> </p>
    <p class="card-text"> <%= @user.city.name%> </p>
    <a class="btn btn-primary"> <%= link_to "Page de la ville", city_path %> </a>
    <br></br>
    <a class="btn btn-primary"> <%= link_to "Retour à l'accueil", root_path%> </a>
    
  </div>
</div>
